/* Cadastro.css */

body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-image: url(../static/img/bernabeu.jpg);
  display: flex;
  background-repeat: no-repeat;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-size: cover;
}

.cadastrar {
  background-color: #ffffff35;
  backdrop-filter: blur(2px);
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 600px;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.cadastrar form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.cadastrar input {
  padding: 12px;
  border: none;
  border-radius: 10px;
  height: 20px  ;
  width: 500px;
  font-size: 16px;
  transition: border-color 0.3s ease;
  background-color: #ffffff8b;
  backdrop-filter: blur(1px);
}

.cadastrar button {
  padding: 12px;
  background-color: #1e31dccb;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 524px;
  font-weight: bold;
}

.cadastrar button:hover {
  background-color: #0004ff;
}

.inicio {
  position: absolute;
  top: 20px;
  left: 20px;
}

.inicio button {
  background-color: white;
  border: 2px solid #764ba2;
  color: #764ba2;
  padding: 8px 16px;
  border-radius: 6px;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.inicio button:hover {
  background-color: #764ba2;
  color: white;
}

.inicio button a {
  text-decoration: none;
  color: inherit;
}

h1{
  font-size: 50px;
  color: white;
}
h3{
  font-size: 35px;
  color: white;
  font-weight: bold;
}

p, a{
  font-size: 20px;
  font-weight: 600px;
  color: white;
}